body{
    background-color: bisque;
    font-family: sans-serif;
}

.row {
    text-align: center;
    
}

.col-4 {
    border-radius: 5px;
    background-color: #BEA8A7;

}

.contact_details .col-12, h3{
    background-color: #775144;
    text-align: center;
    color: white;

    padding: 10px;
}

.pizza, .contact_details {
    margin: 10px;
    border-radius: 8px;
    background-color: #EA8C55;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}



h1{
    text-align: center;
}